/*-------------------------*/
/*------Information--------*/
/*-------------------------*/
@import  base

@media (max-width: 1200px)  
	.videoWrap  
		display: none  
	
	#app  
		overflow: auto  
		background-color: black  
	
	.PageTitleStyle  
		display: none  
	
	.BarArea  
		grid-column: 1/13  
		grid-row: 3/4  
		padding: 15px  
		width: 90%  
		margin: auto  
		.navbar  
			.nav-item  
				.nav-link  
					font-size: 12px  
	.BasicInfo  
		grid-column: 1/ 13  
		grid-row: 11 / 13  
		.BasicInfoInner  
			width: 90%  
			margin: auto  
			margin-bottom: 20px  
	.Map  
		grid-column: 1/ 13  
		grid-row: 4 / 11  
		width: 90%  
		margin: auto  
		iframe  
			border: none  

