
*
    box-sizing: border-box
    position: relative
    // +border(dotted, 0.2px, black)
    font-family: $CHFont
    // overflow: hidden
    //background-color: #f24

html, body
    padding: 0
    margin: 0
    +size(100%, 100%)
    // +size(1920px, 1009px)
    // overflow-x: hidden
    // scroll-behavior: smooth

#app   
    +size(100%, 100%)
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(12, 1fr)
    gap: 2%

    .bg
        background-size: 100% 100%
        +size(auto, 100%)
        grid-column: 1 / 13
        grid-row: 1 / 13
        z-index: -1

    .videoWrap
        background-size: 100% 100%
        +size(100%, 100%)
        // border: solid 2px pink
        grid-column: 1 / 13
        grid-row: 1 / 13
        z-index: -1
        overflow: hidden
        #myVideo
            min-width: 100%
            min-height: 100%



// Tour Side
.TourBarOuter
    +border(dotted, 2px, pink)
    +size(100%, 100%)  //Custom +size(20%, 100%)
    grid-column: 1 / 3 //Custom
    grid-row: 1 / 13 //Custom 
    z-index: 12 //Custom 

    +flexdisplay()
    .TourBarInner
        +size(90%, 90%)
        +flexdisplay(flex, column, space-between, center)
        +border(dotted, 2px, #f24)

        .TourArea    
            +size(100%, 15%)
            background-color: green

            display: flex
            align-items: flex-end

            &:hover
                .SlideBar
                    transform: translateX(-5%)
                    // transform: translateX(100%)
                    

            .TourLink
                // display: grid
                width: 50%
                max-height: auto
                text-decoration: none

                // border: solid 1px purple
                img
                    width: 100%
                    max-height: auto
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2)
                    z-index: 4
                    align-self: end

            .SlideBar
                +size(50%, 40%)
                max-height: 60px
                max-width: 140px

                transform: translateX(-100%)

                background-color: $CustomWhite
                border: solid 1px black

                font-size: $InnerInnerFontSize
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3) 
                text-decoration: none 
                padding: 2%
                        
                z-index: 3        
                transition-duration: 0.8s

                text-align: center
                color: $CustomBlue 
                +flexdisplay()

                .Word
                    +size(fit-content, fit-content)
                    // border: solid 1px black

                .EnWord
                    font-size: $InnerInnerFontSize - 8px



// Link Area
.LinkAreaOuter
    grid-column: 11 / 13
    grid-row: 1 / 2

    top: 20%
    // border: solid 1px black
    z-index: 12
    +flexdisplay()  
    .LinkAreaInner
        +size(60%, 80%)
        // border: solid 1px black
        +flexdisplay(flex, row, space-between, center)

        justify-self: center 
        align-self: center 
        .Link
            +size(33%, auto)
            transition-duration: 0.2s
            img
                // +border(dotted, 1px, purple)
                +size(100%, auto)
                // +size(20px, 20px)
            &:hover
                transform: translate(0px, -10%)

// PageTitle
.PageTitlePoaOne
    grid-column: 3 / 6
    grid-row: 3 / 4
    // +border(dotted, 3px, green)
.PageTitlePoaTwo
    grid-column: 3 / 6
    grid-row: 2 / 3
    // +border(dotted, 3px, yellow)

.PageTitleStyle
    +size(100%, 90%) 
    // +border(dotted, 3px, green)
    color: $CustomBlue
    letter-spacing: 3px

    display: grid
    grid-template-columns: 10% 90%
    grid-template-rows: 70% 30%
    .SideRect
        +size(40%, 90%)
        background-color: $CustomBlue
        grid-column: 1 / 2
        grid-row: 1 / 3
        top: 12%
    .ChTitle
        font-size: $TitleFontSize
        grid-column: 2 / 3
        grid-row: 1 / 2
    .EnTitle
        font-size: $InnerFontSize
        font-family: $ENFont
        grid-column: 2 / 3
        grid-row: 2 / 3



// PageTitleStyleTwo
// .PageTitleStyleTwo
//     // +border(dotted, 1px, green)
//     color: $CustomBlue
//     letter-spacing: 3px

//     // border: solid 2px blue
//     grid-column: 2 / 4
//     grid-row: 1 / 2
//     //Size Custom

//     display: grid
//     grid-template-columns: 2% 96% 2% 
//     align-items: center

//     .SideRect
//         +size(100%, 70%)
//         // +border(dotted, 1px, #f24)
//         background-color: $CustomBlue
//     .Title
//         +size(100%, 100%)
//         // +border(dotted, 1px, green)
//         display: grid
//         // grid-template-columns: 58% 4% 38%  //Custom
//         align-items: center
//         .ChTitle
//             font-size: $TitleFontSize
//             grid-column: 1 / 2
//             justify-self: end

//             // +border(dotted, 1px, #f24)
//             letter-spacing: 10px
            
//         .EnTitle
//             font-size: $InnerFontSize
//             grid-column: 3 / 4
//             justify-self: start
//             // +border(dotted, 1px, #f24)
            
// Nav Link
.nav-link
    cursor: pointer
    &:hover 
        animation-name: wobble-horizontal
        animation-duration: 1s
        animation-timing-function: ease-in-out
        animation-iteration-count: 1


.BarArea
    border: solid 2px $CustomBlue
    background-color: $CustomWhite
    border-radius: 50px
    z-index: 100
    grid-column: 6 / 12
    grid-row: 3 / 4
    +size(100%, 50%)  //custom
    align-self: end

    .bar
        width: 100%
        height: 100%
    .navbar
        display: flex
        .nav-item
            +size(calc(100%/5), 100%) //custom
            +flexdisplay()
            .nav-link
                +size(60%, auto)
                font-size: $InnerInnerFontSize
                text-align: center
                transition-duration: 0.8s
                color: $CustomBlue
                // border: solid 2px pink
            .initial
                color: $CustomWhite

    .navbarOuter
        position: absolute
        top: 0px
        left: 0px
        .activeBar
            +size(calc(100%/5), 100%) //custom
            border-radius: 30px
            background-color: $CustomBlue
            transition-duration: 1s

//Fade animate
.elementToFadeInAndOut
    animation: fade 1s linear 

// Close Button
.CloseButton
    +size(50%, 100%)
    grid-column: 12 / 13
    grid-row: 1 / 2
    justify-self: center
    // border: solid 1px pink

    .cross
        +size(100%, 100%)
        position: relative
        // background-color: $CustomBlue
        transition-duration: 0.5s
        cursor: pointer
        // border: solid 1px green
        
        .line1,.line2
            +size(80%, 10%)
            background-color: $CustomWhite
            position: absolute
            left: 50%
            top: 50%
            transition-duration: 0.5s
        .line1
            transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2)
        .line2
            transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2)
        &:hover
            // background-color: $CustomRed
            .line1
                transform: translateX(-50%) 
            
            .line2
                transform: translateX(-50%) 