@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')
//Language
$CHFont: Noto Sans TC, 微軟正黑體
$ENFont: Gen Jyuu Gothic LP

//Color
$CustomBlue: #044EB7
$CustomYellow: #FFE200
$CustomRed: #FF506E
$CustomWhite: white

//FontSize
$TitleFontSize: 55px
$InnerFontSize: 28px
$InnerInnerFontSize: 22px

// mixin
@mixin size($w,$h)
    width: $w
    height: $h
    
@mixin flexdisplay($display: flex ,$direction: row ,$justify-content: center, $align-items: center)
    display: $display
    flex-direction: $direction
    justify-content: $justify-content
    align-items: $align-items

@mixin border($border-style: solid , $border-width: 2px , $border-color: #f24)
    border-style: $border-style
    border-width: $border-width
    border-color: $border-color


//KeyFrame
/*fade */
@keyframes fade
    0%,100%
        opacity: 1
    50%
        opacity: 0

/* Wobble Vertical */
@keyframes wobble-vertical 
    16.65% 
        transform: translateY(8px)
    33.3% 
        transform: translateY(-6px)
    49.95% 
        transform: translateY(4px)
    66.6% 
        transform: translateY(-2px)
    83.25% 
        transform: translateY(1px)
    100% 
        transform: translateY(0)

/* Wobble Horizontal */
@keyframes wobble-horizontal
    16.65% 
        transform: translateX(6px)
    33.3% 
        transform: translateX(-4px)
    49.95% 
        transform: translateX(2px)
    66.6% 
        transform: translateX(-1px)
    83.25% 
        transform: translateX(0.5px)
    100% 
        transform: translateX(0)

/* Rotate Circle */
@keyframes rotate-circle
    100% 
        transform: rotate(360deg)

/* Monster Vertial  */   
@keyframes monster-vertial
    0% 
        transform: translateY(0%)
    25% 
        transform: translateY(2%)
    50% 
        transform: translateY(0%)
    75% 
        transform: translateY(-2%)
    100% 
        transform: translateY(0%)



