html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="docs/css/Main.css")
        title Document
    body
        .bg
        .TourBarOuter
            .TourBarInner
                .TourArea
                    a.TourLink(href="docs/html/Information.html")
                        img(src="docs/asset/img/Icon/ExhibitionInformation.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 展覽資訊
                .TourArea
                    a.TourLink(href="docs/html/Rhapsody.html")
                        img(src="docs/asset/img/Icon/Rhapsody.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 狂想故事
                .TourArea
                    a.TourLink(href="docs/html/Works.html")
                        img(src="docs/asset/img/Icon/ExhibitionWorks.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 展覽作品
                .TourArea
                    a.TourLink(href="docs/html/Team.html")
                        img(src="docs/asset/img/Icon/CuratorialTeam.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 策展團隊
                .TourArea
                    a.TourLink(href="docs/html/Partner.html")
                        img(src="docs/asset/img/Icon/Partner.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 合作廠商
                .TourArea
                    a.TourLink(href="docs/html/ContactUs.html")
                        img(src="docs/asset/img/Icon/ContactUs.png", alt="", sizes="", srcset="")
                        .SlideBar
                            .Rect
                            .Word 聯絡我們
        .LinkAreaOuter
            .LinkAreaInner
                a(href="index.html")
                    img(src="docs/asset/img/Icon/Home.png", alt="", sizes="", srcset="")
                a(href="http://")
                    img(src="docs/asset/img/Icon/Fb.png", alt="", sizes="", srcset="")
                a(href="http://")
                    img(src="docs/asset/img/Icon/EmailConnection.png", alt="", sizes="", srcset="")
                    
        .Title
            .MainTitle
                img(src="docs/asset/img/MainTitle.png", alt="", srcset="")
            .Subtitle 萌芽&nbsp;·&nbsp;碰撞&nbsp;·&nbsp;成長&nbsp;·&nbsp;茁壯 &nbsp;&nbsp;&nbsp; 屬於我們的狂想故事正在進化
        .ExhibitionInfo
            .Info.Campus
                .Topic 
                    .text 校內首展
                .Time 04/13&nbsp;-&nbsp;04/16
                .Location 元智大學五館、六館
            .Info.FilmFestival
                .Topic 
                    .text 校內影展
                .Time 04/15、04/18
                .Location 元智大學六館有庠廳
            .Info.OffCampus
                .Topic
                    .text  校外展出
                .Time 05/08&nbsp;-&nbsp;05/11
                .Location 臺北松山文創園區
            .Info.VisionAward
                .Topic 
                    .text 放視大賞
                .Time 05/13&nbsp;-&nbsp;05/15
                .Location 高雄展覽館

        script(src="docs/js/script.js")