html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="docs/css/Main.css")
        title Document
    body
        #app
            .bg
            
            // 手機板選單
            .mmenu
                #MenuBtn.MenuBtn
                    p.Top
                    p.Middle
                    p.Bottom
                ul
                    li
                    a(href='../html/Information.html')
                        img(src='../asset/img/mmenu/menu_01.png')
                        span 展覽資訊;
                    li
                    a(href='../html/Rhapsody.html')
                        img(src='../asset/img/mmenu/menu_02.png')
                        span 狂想故事;
                    li
                    a(href='../html/Works.html')
                        img(src='../asset/img/mmenu/menu_03.png')
                        span 展覽作品;
                    li
                    a(href='../html/Team.html')
                        img(src='../asset/img/mmenu/menu_04.png')
                        span 策展團隊;
                    li
                    a(href='../html/Partner.html')
                        img(src='../asset/img/mmenu/menu_05.png')
                        span 合作廠商;
                    li
                    a(href='../html/ContactUs.html')
                        img(src='../asset/img/mmenu/menu_06.png')
                        span 聯絡我們;
            // *******

            //- img.bgImg(src="docs/asset/img/Monster/Family.png", alt="", sizes="", srcset="")

            .TourBarOuter
                .TourBarInner
                    .TourArea
                        a.TourLink(href="docs/html/Information.html")
                            img(src="docs/asset/img/Icon/ExhibitionInformation.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/Information.html")
                            .Word
                                .ChWord 展覽資訊
                                .EnWord Information
                    .TourArea
                        a.TourLink(href="docs/html/Rhapsody.html")
                            img(src="docs/asset/img/Icon/Rhapsody.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/Rhapsody.html")
                            .Word
                                .ChWord 狂想故事
                                .EnWord Theme Story
                    .TourArea
                        a.TourLink(href="docs/html/Works.html")
                            img(src="docs/asset/img/Icon/ExhibitionWorks.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/Works.html")
                            .Word
                                .ChWord 展覽作品
                                .EnWord Works of Display
                    .TourArea
                        a.TourLink(href="docs/html/Team.html")
                            img(src="docs/asset/img/Icon/CuratorialTeam.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/Team.html")
                            .Word
                                .ChWord 策展團隊
                                .EnWord Curatorial Team
                    .TourArea
                        a.TourLink(href="docs/html/Partner.html")
                            img(src="docs/asset/img/Icon/Partner.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/Partner.html")
                            .Word
                                .ChWord 合作廠商
                                .EnWord Sponsor
                    .TourArea
                        a.TourLink(href="doccs/html/ContactUs.html")
                            img(src="docs/asset/img/Icon/ContactUs.png", alt="", sizes="", srcset="")
                        a.SlideBar(href="docs/html/ContactUs.html")
                            .Word
                                .ChWord 聯絡我們
                                .EnWord Contact Us
                            
            .LinkAreaOuter
                .LinkAreaInner
                    a.Link(href="index.html")
                        img(src="docs/asset/img/Icon/Home.png", alt="", sizes="", srcset="")
                    a.Link(href="https://www.facebook.com/yzuic23rd/")
                        img(src="docs/asset/img/Icon/Fb.png", alt="", sizes="", srcset="")
                    a.Link(href="https://www.facebook.com/messages/t/yzuic23rd")
                        img(src="docs/asset/img/Icon/EmailConnection.png", alt="", sizes="", srcset="")
                        
            //- .Title
            //-     .MainTitle
            //-         img(src="docs/asset/img/MainTitle.png", alt="", srcset="")
            //-     .Subtitle 萌芽&nbsp;·&nbsp;碰撞&nbsp;·&nbsp;成長&nbsp;·&nbsp;茁壯 &nbsp;&nbsp;&nbsp; 屬於我們的狂想故事正在進化
            .monsterA
                img(src="docs/asset/img/home/monster_A.png", alt="", srcset="")
            .monsterB
                img(src="docs/asset/img/home/monster_B.png", alt="", srcset="")
            .monsterBig    
                img(src="docs/asset/img/home/monster_big.png", alt="", srcset="")
            .title
                img(src="docs/asset/img/home/title.png", alt="", srcset="")


            .ExhibitionInfo
                .Info.Campus
                    .Topic 校內首展
                    .Space
                    .Time 04/13&nbsp;-&nbsp;04/16
                    .Location 元智大學五館、六館
                .Info.FilmFestival
                    .Topic 校內影展
                    .Space
                    .Time 04/15、04/18
                    .Location 元智大學六館有庠廳
                .Info.OffCampus
                    .Topic 校外展出
                    .Space
                    .Time 05/08&nbsp;-&nbsp;05/11
                    .Location 臺北松山文創園區
                .Info.VisionAward
                    .Topic 放視大賞
                    .Space
                    .Time 05/13&nbsp;-&nbsp;05/15
                    .Location 高雄展覽館

        script(src="docs/js/script.js")