.LinkAreaOuter
    .LinkAreaInner
        a.Link(href="../../index.html")
            img(src="../asset/img/Icon/Home.png", alt="", sizes="", srcset="")
        a.Link(href="http://")
            img(src="../asset/img/Icon/Fb.png", alt="", sizes="", srcset="")
        a.Link(href="http://")
            img(src="../asset/img/Icon/EmailConnection.png", alt="", sizes="", srcset="")