.mmenu
    #MenuBtn.MenuBtn
        p.Top
        p.Middle
        p.Bottom
    ul
        li
        a(href='../html/Information.html')
            img(src='../asset/img/mmenu/menu_01.png')
            span 展覽資訊;
        li
        a(href='../html/Rhapsody.html')
            img(src='../asset/img/mmenu/menu_02.png')
            span 狂想故事;
        li
        a(href='../html/Works.html')
            img(src='../asset/img/mmenu/menu_03.png')
            span 展覽作品;
        li
        a(href='../html/Team.html')
            img(src='../asset/img/mmenu/menu_04.png')
            span 策展團隊;
        li
        a(href='../html/Partner.html')
            img(src='../asset/img/mmenu/menu_05.png')
            span 合作廠商;
        li
        a(href='../html/ContactUs.html')
            img(src='../asset/img/mmenu/menu_06.png')
            span 聯絡我們;


.TourBarOuter
    .TourBarInner
        .TourArea
            a.TourLink(href="Information.html")
                img.TourImg(src="../asset/img/Icon/ExhibitionInformation.png", alt="", sizes="", srcset="")
            a.SlideBar(href="Information.html")
                .Word
                    .ChWord 展覽資訊
                    .EnWord Information
        .TourArea
            a.TourLink(href="Rhapsody.html")
                img(src="../asset/img/Icon/Rhapsody.png", alt="", sizes="", srcset="")
            a.SlideBar(href="Rhapsody.html")
                .Word
                    .ChWord 狂想故事
                    .EnWord Theme Story
        .TourArea
            a.TourLink(href="Works.html")
                img(src="../asset/img/Icon/ExhibitionWorks.png", alt="", sizes="", srcset="")
            a.SlideBar(href="Works.html")
                .Word
                    .ChWord 展覽作品
                    .EnWord Works of Display
        .TourArea
            a.TourLink(href="Team.html")
                img(src="../asset/img/Icon/CuratorialTeam.png", alt="", sizes="", srcset="")
            a.SlideBar(href="Team.html")
                .Word
                    .ChWord 策展團隊
                    .EnWord Curatorial Team
        .TourArea
            a.TourLink(href="Partner.html")
                img(src="../asset/img/Icon/Partner.png", alt="", sizes="", srcset="")
            a.SlideBar(href="Partner.html")
                .Word
                    .ChWord 合作廠商
                    .EnWord Sponsor
        .TourArea
            a.TourLink(href="ContactUs.html")
                img(src="../asset/img/Icon/ContactUs.png", alt="", sizes="", srcset="")
            a.SlideBar(href="ContactUs.html")
                .Word
                    .ChWord 聯絡我們
                    .EnWord Contact Us