.TourBarOuter
    .TourBarInner
        .TourArea
            a.TourLink(href="Information.html")
                img.TourImg(src="../asset/img/Icon/ExhibitionInformation.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 展覽資訊
        .TourArea
            a.TourLink(href="Rhapsody.html")
                img(src="../asset/img/Icon/Rhapsody.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 狂想故事
        .TourArea
            a.TourLink(href="Works.html")
                img(src="../asset/img/Icon/ExhibitionWorks.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 展覽作品
        .TourArea
            a.TourLink(href="Team.html")
                img(src="../asset/img/Icon/CuratorialTeam.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 策展團隊
        .TourArea
            a.TourLink(href="Partner.html")
                img(src="../asset/img/Icon/Partner.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 合作廠商
        .TourArea
            a.TourLink(href="ContactUs.html")
                img(src="../asset/img/Icon/ContactUs.png", alt="", sizes="", srcset="")
                .SlideBarOuter
                    .SlideBarInner
                        .Rect
                        .Word 聯絡我們