html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/ContactUs.css")
        title 聯絡我們
    body
        include Component/LoadingPage.pug
        #app
            //- .videoWrap
            //-     video#myVideo(src='../asset/video/BG_3.mp4' autoplay='true' loop='true')
            .bg
            include Component/TourBar.pug
            include Component/LinkArea.pug

            .PageTitleStyle.PageTitlePoaTwo
                .SideRect
                .ChTitle 聯絡我們
                .EnTitle Contact Us
            
            .MainContentOuter
                .MainContentInner
                    .TextArea
                        .TitlePicture 
                            img(src="../../docs/asset/img/MainTitle.png", alt="", sizes="", srcset="")
                        .TimeInfo
                            .Info.Campus
                                .Topic 校內展
                                .Location 元智大學
                                .Time 2020/4/29-5/02 
                            .Info.Video
                                .Topic 草皮影展
                                .Location 元智大學
                                .Time 2020/05/01
                            //- .Info.OffCampus
                            //-     .Topic 校外展 
                            //-     .Location 臺北松菸
                            //-     .Time 2020/05/08-11
                            //- .Info.VisionAward
                            //-     .Topic 放視大賞
                            //-     .Location 高雄展覽館
                            //-     .Time 2020/05/13-15
                        .Divider 

                        .ConnectionIcon
                            .Slogan
                                .text 歡迎利用以下窗口與我們聯絡！
                            .IconArea
                                .fbIcon.Icon
                                    a.image(href="https://www.facebook.com/yzuic23rd/")
                                        img(src="../../docs/asset/img/Icon/Fb.png", alt="", sizes="", srcset="")
                                    .text 臉書粉專
                                .emailIcon.Icon
                                    a.image(href="https://www.facebook.com/messages/t/yzuic23rd")
                                        img(src="../../docs/asset/img/Icon/EmailConnection.png", alt="", sizes="", srcset="")
                                    .text Email
                        .ConnectionText
                            .SubInfo.department
                                .ConTile 元智大學資訊傳播學系
                                .ConInfo 03-463-8800 分機2641
                                br
                            .SubInfo.Address
                                .ConTile 聯絡地址：
                                .ConInfo 320桃園市中壢區遠東路135號
                                br
                            .SubInfo.ConnectEmail
                                .ConTile Email：
                                .ConInfo yzicgt@g.yzu.edu.tw
                                
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="../../docs/js/Common/Loading.js")     
        script(src="../../docs/js/ContactUs.js")
        