html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Information.css")
        title Document
    body
        include Component/LoadingPage.pug
        #app
            //- .videoWrap
            //-     video#myVideo(src='../asset/video/BG_3.mp4' autoplay='true' loop='true')
            .bg

            include Component/TourBar.pug
            include Component/LinkArea.pug
            
            .PageTitleStyle.PageTitlePoaOne
                .SideRect
                .ChTitle 展覽資訊
                .EnTitle Information


            //- .container
            .BarArea
                .navbarOuter.bar
                    .activeBar
                .navbar.bar
                    .nav-item(@click.prevent="ChangeActiveBarPoa(0); ChangePeopleInfo(0)")
                        .nav-link.initial 校內展
                    .nav-item(@click.prevent="ChangeActiveBarPoa(1); ChangePeopleInfo(1)")
                        .nav-link 校外展
                    //- .nav-item(@click.prevent="ChangeActiveBarPoa(2); ChangePeopleInfo(2)")
                    //-     .nav-link 放視大賞

            .BasicInfo(:class='{ elementToFadeInAndOut:isTextActive }')
                .BasicInfoInner
                    .Info.time 活動時間 &nbsp;|&nbsp; {{ MapInfo.time }}
                    .Info.location 活動地點 &nbsp;|&nbsp; {{ MapInfo.location }}
                    .Info.cost 費用資訊 &nbsp;|&nbsp; {{ MapInfo.cost }}
                    .Info.traffic 乘車資訊 &nbsp;|
                        .trafficDital(v-html='MapInfo.traffic') 
                        
            .Map(:class='{ elementToFadeInAndOut:isTextActive }')
                iframe(v-bind:src="MapInfo.map", alt="", srcset="")
    

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src="../../docs/js/Common/Loading.js")
        script(src="../../docs/js/Information.js")
        
        
