html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Partner.css")
        title Document
    body
        include Component/LoadingPage.pug
        #app
            //- .videoWrap
            //-     video#myVideo(src='../asset/video/BG_3.mp4' autoplay='true' loop='true')
            .bg
            
            include Component/TourBar.pug
            include Component/LinkArea.pug

            .PageTitleStyle.PageTitlePoaTwo
                .SideRect
                .ChTitle 合作廠商
                .EnTitle Sponsor

            .construction
                .word 建構中

            //- .container
            //-     .Sponsors(v-for='(item, index) in SponsorsInfo')
            //-         img.SponsorImg(v-bind:src="item.Look", alt="", srcset="")

            
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src="../../docs/js/Common/Loading.js")
        script(src="../../docs/js/Partner.js")
        