html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Rhapsody.css")
        title Document
    body
        #app
            .bg
            include Component/TourBar.pug
            include Component/LinkArea.pug

            .PageTitleStyle.PageTitlePoaOne
                .SideRect
                .ChTitle 狂想故事
                .EnTitle Theme of Exhibition

            //- .container
            .BarArea
                .navbarOuter.bar
                    .activeBar
                .navbar.bar
                    .nav-item(@click.prevent="ChangeActiveBarPoa(0)")
                        .nav-link.initial(@click.prevent="ChangePeopleInfo(0)") 主題概念
                    .nav-item(@click.prevent="ChangeActiveBarPoa(1)")
                        .nav-link(@click.prevent="ChangePeopleInfo(1)") Rookie
                    .nav-item(@click.prevent="ChangeActiveBarPoa(2)")
                        .nav-link(@click.prevent="ChangePeopleInfo(2)") Chubby
                    .nav-item(@click.prevent="ChangeActiveBarPoa(3)")
                        .nav-link(@click.prevent="ChangePeopleInfo(3)") BoomBoom
                    .nav-item(@click.prevent="ChangeActiveBarPoa(4)")
                        .nav-link(@click.prevent="ChangePeopleInfo(4)") Fantasy

            //- Monster
            .BasicInfo(v-if="isShowMonster" :class='{ elementToFadeInAndOut:isTextActive }')
                .BasicInfoInner
                    .MonsterTitle
                        .Info.grade {{ monster.grade }}
                        .Info.name {{ monster.EnName }} - {{ monster.ChName }}
                        .BottomLine
                    .MonsterDetail
                        .Info.height 身高: {{ monster.Height }}
                        .Info.weight 體重: {{ monster.Weight }}
                        .intro(v-html='monster.Intro')
            .Look(v-if="isShowMonster" :class='{ elementToFadeInAndOut:isTextActive }')
                .MonsterBg
                    img.MonsterBgOuter(src="../asset/img/Monster/circleOuter.png", alt="", srcset="")
                    img.MonsterBgInner(src="../asset/img/Monster/circleInner.png", alt="", srcset="")
                img.MonsterSelf(v-bind:src="monster.Look", alt="", srcset="")

            .RadarChart(:class='{ isShowMonsterChart:isShowMonster, elementToFadeInAndOut:isTextActive}')
                canvas#myChart


            //- Topic
            .concept(v-if="isShowTopic" :class='{ elementToFadeInAndOut:isTextActive }')
                .conceptInner
                    .conceptSlogan 「萌芽、碰撞、成長、茁壯， 屬於我們的狂想正在進化。」
                    .conceptDetail  <br>「狂想」是什麼呢&nbsp;‧‧‧‧‧‧？
                                    <br>它是自由不受限的想像、跳脫框架的夢想。
                                    <br>初步入大學的我們，默默地種下對未來的想像，
                                    <br>將資傳系四年探索，化為四隻小怪獸的進化旅程，
                                    <br>從渺小的大一&nbsp;—&nbsp;Rookie菜鳥獸，
                                    <br>最終進化成真正的資傳人，大四&nbsp;—&nbsp;Fantasy狂想獸，
                                    <br>強調四年的成長，亦結合對科幻未來人的想像：
                                    <br>「資傳人最後會進化成什麼模樣呢？」
                                    <br>
                                    <br>「狂想進化論」展現五顏六色的創意與想像，
                                    <br>一場屬於我們的狂想進化，未完待續&nbsp;‧‧‧‧‧‧！
            .conceptImgOuter(v-if="isShowTopic" :class='{ elementToFadeInAndOut:isTextActive }')
                img.conceptImgInner(src="../asset/img/Monster/FantasyOpen.png", alt="", srcset="")



        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')         
        script(src="../../docs/js/Rhapsody.js")
