html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Rhapsody.css")
        title 狂想故事
    body
        include Component/LoadingPage.pug
        #app
            //- .videoWrap
            //-     video#myVideo(src='../asset/video/BG_3.mp4' autoplay='true' loop='true')
            .bg
            
            include Component/TourBar.pug
            include Component/LinkArea.pug

            .PageTitleStyle.PageTitlePoaOne
                .SideRect
                .ChTitle 狂想故事
                .EnTitle Theme of Exhibition

            //- phone
            .ChangePage
                img.Previous(:class='{ CloseArrow : IsFront }' src='../asset/img/Icon/Previous.png' @click.prevent="ChangePhoneMonsterInfo(-1)")
                img.Next(:class='{ CloseArrow : IsEnd }' src='../asset/img/Icon/Next.png' @click.prevent="ChangePhoneMonsterInfo(1)")

            //- .container
            .BarArea
                .navbarOuter.bar
                    .activeBar
                .navbar.bar
                    .nav-item(@click.prevent="ChangeActiveBarPoa(0); ChangeWebMonsterInfo(0)")
                        .nav-link.initial 主題概念
                    .nav-item(@click.prevent="ChangeActiveBarPoa(1); ChangeWebMonsterInfo(1)")
                        .nav-link Rookie
                    .nav-item(@click.prevent="ChangeActiveBarPoa(2); ChangeWebMonsterInfo(2)")
                        .nav-link Chubby
                    .nav-item(@click.prevent="ChangeActiveBarPoa(3); ChangeWebMonsterInfo(3)")
                        .nav-link BoomBoom
                    .nav-item(@click.prevent="ChangeActiveBarPoa(4); ChangeWebMonsterInfo(4)")
                        .nav-link Fantasy


            //- Monster
            transition(name='fade')
                .BasicInfo(v-if="isShowMonster" :class='{ elementToFadeInAndOut:isTextActive }')
                    .BasicInfoInner
                        .MonsterTitle
                            .Info.grade {{ monster.grade }}
                            .Info.name {{ monster.EnName }} - {{ monster.ChName }}
                            .BottomLine
                        .MonsterDetail
                            .Info.height 身高: {{ monster.Height }}
                            .Info.weight 體重: {{ monster.Weight }}
                            .intro(v-html='monster.Intro' )
            transition(name='fade')
                .Look(v-if="isShowMonster" :class='{ elementToFadeInAndOut:isTextActive }')
                    .MonsterBg
                        img.MonsterBgOuter(src="../asset/img/Monster/circleOuter.png", alt="", srcset="")
                        img.MonsterBgInner(src="../asset/img/Monster/circleInner.png", alt="", srcset="")
                    img.MonsterSelf(v-bind:src="monster.Look", alt="", srcset="")

            transition(name='fade')
                .RadarChart(v-show="isShowMonster" :class='{ elementToFadeInAndOut:isTextActive }')
                    canvas#myChart


            //- Topic
            transition(name='fade')
                .concept(v-if="isShowTopic")
                    .conceptInner
                        .conceptSlogan 「萌芽、碰撞、成長、茁壯， 屬於我們的狂想正在進化。」
                        .conceptDetail  「狂想」是什麼呢……？它是自由不受限的想像、跳脫框架的夢想。初步入大學的我們，默默地種下對未來的想像，將資傳系四年探索，化為四隻小怪獸的進化旅程，從渺小的大一&nbsp;—&nbsp;Rookie菜鳥獸，最終進化成真正的資傳人，大四&nbsp;—&nbsp;Fantasy狂想獸，強調四年的成長，亦結合對科幻未來人的想像：「資傳人最後會進化成什麼模樣呢？」「狂想進化論」展現五顏六色的創意與想像，一場屬於我們的狂想進化，未完待續&nbsp;‧‧‧‧‧‧！
            transition(name='fade')
                .conceptImgOuter(v-if="isShowTopic")
                    img.conceptImgInner(src="../asset/img/Monster/story.jpg", alt="", srcset="")

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')     
        script(src="../../docs/js/Common/Loading.js")    
        script(src="../../docs/js/Rhapsody.js")
        
