html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Team.css")
        title Document
    body
        #app
            //- .bg
            .videoWrap
                video#myVideo(src='../asset/video/BG_3.mp4' autoplay='true' loop='true')
            include Component/TourBar.pug
            include Component/LinkArea.pug

            .PageTitleStyle.PageTitlePoaTwo
                .SideRect
                .ChTitle 策展團隊
                .EnTitle Curatorial  Team
        
            .ButtonArea
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(0)")
                    img.doll(src="../asset/img/Team/doll_01.png", alt="", sizes="", srcset="")
                    img.Department(src="../asset/img/Team/department_01.png", alt="", sizes="", srcset="")
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(1)") 
                    img.doll(src="../asset/img/Team/doll_02.png", alt="", sizes="", srcset="")
                    img.Department(src="../asset/img/Team/department_02.png", alt="", sizes="", srcset="")
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(2)")
                    img.doll(src="../asset/img/Team/doll_03.png", alt="", sizes="", srcset="") 
                    img.Department(src="../asset/img/Team/department_03.png", alt="", sizes="", srcset="") 
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(3)")
                    img.doll(src="../asset/img/Team/doll_04.png", alt="", sizes="", srcset="")
                    img.Department(src="../asset/img/Team/department_04.png", alt="", sizes="", srcset="") 
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(4)")
                    img.doll(src="../asset/img/Team/doll_05.png", alt="", sizes="", srcset="")
                    img.Department(src="../asset/img/Team/department_05.png", alt="", sizes="", srcset="") 
                .DepartmentButton(@click.prevent="ButtonBeClick && ShowContent(5)")
                    img.doll(src="../asset/img/Team/doll_06.png", alt="", sizes="", srcset="") 
                    img.Department(src="../asset/img/Team/department_06.png", alt="", sizes="", srcset="") 

            .Content(:class='{ elementShow:isContentActive }' @click.prevent="CloseContent()")
                .CloseButton(@click.prevent="CloseContent()") 
                    .cross
                        .line1
                        .line2
                .Picture
                    img.teamPic(v-bind:src="TeamInfo.ContentPicture", alt="", srcset="")
                .DetailInfo
                    .Info.Title {{ TeamInfo.GroupName }}
                    .Info.Work {{ TeamInfo.WorkContent }}
                    .Info.Member 
                        .One {{ TeamInfo.MemberOne }}
                        .Two {{ TeamInfo.MemberTwo }}
                        .Three {{ TeamInfo.MemberThree }}
                    .Info.MurMur {{ TeamInfo.MurMur }}
                    .Info.MurMurTalk {{ TeamInfo.MurMurSlogan }}

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src="../../docs/js/Team.js")