html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Team.css")
        title Document
    body
        h1.title 策展團隊
        hr
        a.TourIcon.index(href="../../index.html") 首頁
        br
        a.TourIcon.Contact(href="ContactUs.html") 聯絡我們
        br
        a.TourIcon.Partner(href="Partner.html") 合作廠商
        br
        a.TourIcon.Works(href="Works.html") 展出作品
        br
        a.TourIcon.Rhapsody(href="Rhapsody.html") 狂想故事
        br
        a.TourIcon.Team(href="Team.html") 策展團隊
        br
        a.TourIcon.Information(href="Information.html") 展覽資訊
        script(src="../../docs/js/Team.js")