html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/fullpage.js/dist/fullpage.min.css")
        link(rel="stylesheet", href="../css/Works.css")
        title Document
    body
        #app
            .videoWrap
                video#myVideo(src='../asset/video/bg1.mp4' autoplay='true' loop='true')
            include Component/TourBar.pug
            include Component/LinkArea.pug
            
            .PageTitleStyle.PageTitlePoaOne
                .SideRect
                .ChTitle 展出作品
                .EnTitle Works of Display

            .BarArea
                .navbarOuter.bar
                    .activeBar
                .navbar.bar
                    .nav-item(@click.prevent="ChangeActiveBarPoa(0); ChangeTag('All', 0)")
                        .nav-link.initial 全部作品
                    .nav-item(@click.prevent="ChangeActiveBarPoa(1); ChangeTag('互動裝置類', 1)")
                        .nav-link 互動裝置類
                    .nav-item(@click.prevent="ChangeActiveBarPoa(2); ChangeTag('遊戲類', 2)")
                        .nav-link 遊戲類

            #myTabContent(:class='{ elementToFadeInAndOut:isTextActive }')
                .ContentButton(v-for='(Button, index) in SelectedButton' 
                                @click.prevent="ButtonBeClick && ShowContent(Button.Index-1)"
                                :style="{backgroundImage: 'url(' + Button.Logo + ')' }") 
                                .buttonInfo
                                    //- img.logo(v-bind:src="Button.Logo", alt="", srcset="")
                                    .name {{ Button.name }} 
                                    .Category  
                                        .word {{ Button.Category }}

            .Content(:class='{ elementShow:isContentActive }' @click.prevent="CloseContent()")
                .TeamInfo.TeamCategory {{ Content.Category }}
                .TeamInfo.TeamName {{ Content.Title }}
                .TeamInfo.TeamTag {{  Content.Tag }}
                .TeamInfo.ButtonLine
                .CoverArea
                .CloseButton(@click.prevent="CloseContent()")
                    .cross
                        .line1
                        .line2
                .ChangeArea
                    full-page(:options='FullPageOptions')
                        .section.s1
                            .EachArea
                                img.logo(v-bind:src="Content.Logo", alt="", srcset="")
                                .intro(v-html='Content.Intro') 
                        .section.s2
                            .EachArea
                                .Member(v-for='(Member, index) in Content.Member' :style="{ width: MemberWidth }")
                                    img.Picture(v-bind:src="Member.Picture", alt="", srcset=""  :style="{ width: MemberMaxWidth }")
                                    .MemberInfo
                                        .Name {{  Member.Name }}
                                        .JobTitle  {{ Member.JobTitle }}
                                        


        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
        script(src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.min.js")          
        script(src="../../docs/js/Works.js")
