html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/Works.css")
        title Document
    body
        .bg
        include Component/TourBar.pug
        include Component/LinkArea.pug

        .PageTitleStyleOne
            .SideRect
            .ChTitle 展出作品
            .EnTitle Works of Display
                    
        script(src="../../docs/js/Works.js")