@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap");
/*fade */
@-webkit-keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
@keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  49.95% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); }
  83.25% {
    -webkit-transform: translateX(0.5px);
    transform: translateX(0.5px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  49.95% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); }
  83.25% {
    -webkit-transform: translateX(0.5px);
    transform: translateX(0.5px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/* Rotate Circle */
@-webkit-keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Monster Vertial  */
@-webkit-keyframes monster-vertial {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  25% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes monster-vertial {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  25% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: Noto Sans TC, 微軟正黑體; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

#app {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
  grid-template-rows: repeat(12, 1fr);
  gap: 2%; }
  #app .bg {
    background-size: 100% 100%;
    width: auto;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1 / 13;
    z-index: -1; }
  #app .videoWrap {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1 / 13;
    z-index: -1;
    overflow: hidden; }
    #app .videoWrap #myVideo {
      min-width: 100%;
      min-height: 100%; }

.mmenu {
  display: none; }

.TourBarOuter {
  border-style: dotted;
  border-width: 2px;
  border-color: pink;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .TourBarOuter .TourBarInner {
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: dotted;
    border-width: 2px;
    border-color: #f24; }
    .TourBarOuter .TourBarInner .TourArea {
      width: 100%;
      height: 15%;
      background-color: green;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .TourBarOuter .TourBarInner .TourArea:hover .SlideBar {
        -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        transform: translateX(-5%); }
      .TourBarOuter .TourBarInner .TourArea .TourLink {
        width: 50%;
        max-height: auto;
        text-decoration: none; }
        .TourBarOuter .TourBarInner .TourArea .TourLink img {
          width: 100%;
          max-height: auto;
          -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          z-index: 4;
          -ms-flex-item-align: end;
          -ms-grid-row-align: end;
          align-self: end; }
      .TourBarOuter .TourBarInner .TourArea .SlideBar {
        width: 50%;
        height: 40%;
        max-height: 60px;
        max-width: 140px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        background-color: white;
        border: solid 1px black;
        font-size: 16px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        padding: 2%;
        z-index: 3;
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        text-align: center;
        color: #044EB7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .TourBarOuter .TourBarInner .TourArea .SlideBar .Word {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content; }
        .TourBarOuter .TourBarInner .TourArea .SlideBar .EnWord {
          font-size: 8px; }

.LinkAreaOuter {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  top: 20%;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .LinkAreaOuter .LinkAreaInner {
    width: 60%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
    .LinkAreaOuter .LinkAreaInner .Link {
      width: 33%;
      height: auto;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      .LinkAreaOuter .LinkAreaInner .Link img {
        width: 100%;
        height: auto; }
      .LinkAreaOuter .LinkAreaInner .Link:hover {
        -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
        transform: translate(0px, -10%); }

.PageTitlePoaOne {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.PageTitlePoaTwo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.PageTitleStyle {
  width: 100%;
  height: 90%;
  color: #044EB7;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  -ms-grid-rows: 70% 30%;
  grid-template-rows: 70% 30%; }
  .PageTitleStyle .SideRect {
    width: 40%;
    height: 90%;
    background-color: #044EB7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    top: 12%; }
  .PageTitleStyle .ChTitle {
    font-size: 30px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2; }
  .PageTitleStyle .EnTitle {
    font-size: 20px;
    font-family: Merriweather Sans;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }

.nav-link {
  cursor: pointer; }
  .nav-link:hover {
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

.BarArea {
  border: solid 2px #044EB7;
  background-color: white;
  border-radius: 50px;
  z-index: 100;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  height: 50%;
  -ms-grid-row-align: end;
  align-self: end; }
  .BarArea .bar {
    width: 100%;
    height: 100%; }
  .BarArea .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .BarArea .navbar .nav-item {
      width: calc(100%/5);
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .BarArea .navbar .nav-item .nav-link {
        width: 60%;
        height: auto;
        font-size: 16px;
        text-align: center;
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        color: #044EB7; }
      .BarArea .navbar .nav-item .initial {
        color: white; }
  .BarArea .navbarOuter {
    position: absolute;
    top: 0px;
    left: 0px; }
    .BarArea .navbarOuter .activeBar {
      width: calc(100%/5);
      height: 100%;
      border-radius: 30px;
      background-color: #044EB7;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }

.elementToFadeInAndOut {
  -webkit-animation: fade 1s linear;
  animation: fade 1s linear; }

.CloseButton {
  width: 50%;
  height: 100%;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
  justify-self: center; }
  .CloseButton .cross {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer; }
    .CloseButton .cross .line1, .CloseButton .cross .line2 {
      width: 80%;
      height: 10%;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    .CloseButton .cross .line1 {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2);
      transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2); }
    .CloseButton .cross .line2 {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2); }
    .CloseButton .cross:hover .line1 {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .CloseButton .cross:hover .line2 {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.bg {
  background-color: #044EB7; }

.bgImg {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  width: auto;
  height: 100%;
  border: solid 2px yellow; }

.Title {
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / 10;
  width: 100%;
  height: 100%; }
  .Title .MainTitle {
    width: auto;
    height: 80%; }
    .Title .MainTitle img {
      width: 100%;
      height: 100%; }
  .Title .Subtitle {
    width: auto;
    height: 20%;
    color: white;
    font-size: 20px;
    left: 5%; }

.ExhibitionInfo {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3 / 13;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10 / 12;
  -ms-grid-column-align: center;
  justify-self: center;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  color: white;
  font-size: 20px; }
  .ExhibitionInfo .Info {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .ExhibitionInfo .Info .Topic {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      border-radius: 20px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      text-align: center; }
    .ExhibitionInfo .Info .Space {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .ExhibitionInfo .Info .Time {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4; }
    .ExhibitionInfo .Info .Location {
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5; }
  .ExhibitionInfo .Campus {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2; }
  .ExhibitionInfo .OffCampus {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2; }
  .ExhibitionInfo .FilmFestival {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }
  .ExhibitionInfo .VisionAward {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }

/*-------------------------*/
/*---------index-----------*/
/*-------------------------*/
@media (max-width: 1200px) {
  .TourBarOuter {
    display: none; }
  .LinkAreaOuter {
    display: none; }
  .mmenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, black), color-stop(90%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -o-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 90%);
    background: linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -moz-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -webkit-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -o-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    left: -100%;
    z-index: 1000;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s; }
    .mmenu a {
      color: white;
      text-decoration: none; }
    .mmenu span {
      margin-left: 5px; }
    .mmenu .MenuBtn {
      position: fixed;
      top: 0;
      left: 0;
      margin-right: 90%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      margin-left: 2.5%; }
      .mmenu .MenuBtn > p {
        height: 5px;
        width: 40px;
        background-color: #FF0000;
        border-radius: 3px;
        margin: 10px; }
    .mmenu ul {
      display: block;
      list-style: none;
      color: white;
      padding-left: 0;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 2.5%;
      margin-top: 10vh;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .mmenu ul img {
        height: 8%;
        vertical-align: middle; }
      .mmenu ul li {
        padding-top: 2vh;
        padding-bottom: 2vh; }
    .mmenu .IndexBtn {
      display: block;
      position: fixed;
      top: 2.5%;
      left: 30vw;
      height: 8%; }
      .mmenu .IndexBtn img {
        height: 100%; }
  .Top {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .Bottom {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .Middle {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .activeTop {
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg); }
  .activeBottom {
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg); }
  .activeMiddle {
    opacity: 0; }
  .active + ul {
    opacity: 1; }
  .open {
    left: 0; } }

@-webkit-keyframes "marqee01" {
  0% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  49.9% {
    visibility: visible;
    top: -100%; }
  50% {
    visibility: hidden;
    top: -100%; }
  50.1% {
    top: 100%; }
  95% {
    visibility: visible;
    top: 100%; }
  100% {
    top: 0; } }

@keyframes "marqee01" {
  0% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  49.9% {
    visibility: visible;
    top: -100%; }
  50% {
    visibility: hidden;
    top: -100%; }
  50.1% {
    top: 100%; }
  95% {
    visibility: visible;
    top: 100%; }
  100% {
    top: 0; } }

@-webkit-keyframes "marqee02" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  74.9% {
    visibility: visible;
    top: -200%; }
  75% {
    visibility: hidden;
    top: -200%; }
  75.1% {
    top: 100%; }
  100% {
    top: 100%; } }

@keyframes "marqee02" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  74.9% {
    visibility: visible;
    top: -200%; }
  75% {
    visibility: hidden;
    top: -200%; }
  75.1% {
    top: 100%; }
  100% {
    top: 100%; } }

@-webkit-keyframes "marqee03" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  75% {
    top: -200%; }
  80% {
    top: -300%; }
  98.9% {
    visibility: hidden;
    top: -300%; }
  99% {
    visibility: hidden;
    top: -300%; }
  100% {
    visibility: hidden;
    top: 100%; } }

@keyframes "marqee03" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  75% {
    top: -200%; }
  80% {
    top: -300%; }
  98.9% {
    visibility: hidden;
    top: -300%; }
  99% {
    visibility: hidden;
    top: -300%; }
  100% {
    visibility: hidden;
    top: 100%; } }

@-webkit-keyframes "marqee04" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  75% {
    top: -200%; }
  80% {
    top: -300%; }
  95% {
    top: -300%; }
  100% {
    top: -400%; } }

@keyframes "marqee04" {
  0% {
    visibility: visible;
    top: 100%; }
  5% {
    top: 0; }
  25% {
    top: 0; }
  30% {
    top: -100%; }
  50% {
    top: -100%; }
  55% {
    top: -200%; }
  75% {
    top: -200%; }
  80% {
    top: -300%; }
  95% {
    top: -300%; }
  100% {
    top: -400%; } }

@media (max-width: 1200px) {
  .videoWrap {
    display: none; }
  #app {
    overflow: hidden;
    background-color: black; }
  .bgImg {
    display: none; }
  .Title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13; }
    .Title .MainTitle {
      height: auto;
      margin: auto;
      width: 50%; }
      .Title .MainTitle img {
        height: auto; }
    .Title .Subtitle {
      height: auto;
      margin: auto;
      width: 50%;
      left: 2%;
      font-size: 15px; }
  .ExhibitionInfo {
    grid-row: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    overflow: hidden;
    height: 15%;
    top: 85%; }
    .ExhibitionInfo .Info {
      display: block;
      width: 95%;
      height: 100%;
      top: 100%; }
      .ExhibitionInfo .Info .Topic {
        display: none; }
      .ExhibitionInfo .Info .Space {
        display: none; }
      .ExhibitionInfo .Info .Time {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        margin: auto; }
      .ExhibitionInfo .Info .Location {
        margin: auto; }
    .ExhibitionInfo .Campus {
      display: block;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: marqee01;
      animation-name: marqee01; }
    .ExhibitionInfo .FilmFestival {
      display: block;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: marqee02;
      animation-name: marqee02; }
    .ExhibitionInfo .OffCampus {
      display: block;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: marqee03;
      animation-name: marqee03; }
    .ExhibitionInfo .VisionAward {
      display: block;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: marqee04;
      animation-name: marqee04; } }
