@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap");
/*fade */
@-webkit-keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
@keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  49.95% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); }
  83.25% {
    -webkit-transform: translateX(0.5px);
    transform: translateX(0.5px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  49.95% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  66.6% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px); }
  83.25% {
    -webkit-transform: translateX(0.5px);
    transform: translateX(0.5px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/* Rotate Circle */
@-webkit-keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Monster Vertial  */
@-webkit-keyframes monster-vertial {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  25% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes monster-vertial {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  25% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: Noto Sans TC, 微軟正黑體; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

#app {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
  grid-template-rows: repeat(12, 1fr);
  gap: 2%; }
  #app .bg {
    background-size: 100% 100%;
    width: auto;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1 / 13;
    z-index: -1; }
  #app .videoWrap {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1 / 13;
    z-index: -1;
    overflow: hidden; }
    #app .videoWrap #myVideo {
      min-width: 100%;
      min-height: 100%; }

.mmenu {
  display: none; }

.TourBarOuter {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .TourBarOuter .TourBarInner {
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .TourBarOuter .TourBarInner .TourArea {
      width: 100%;
      height: 15%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .TourBarOuter .TourBarInner .TourArea:hover .SlideBar {
        -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        transform: translateX(-5%); }
      .TourBarOuter .TourBarInner .TourArea .TourLink {
        width: 50%;
        max-height: auto;
        text-decoration: none; }
        .TourBarOuter .TourBarInner .TourArea .TourLink img {
          width: 100%;
          max-height: auto;
          -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          z-index: 4;
          -ms-flex-item-align: end;
          -ms-grid-row-align: end;
          align-self: end; }
      .TourBarOuter .TourBarInner .TourArea .SlideBar {
        width: 50%;
        height: 40%;
        max-height: 60px;
        max-width: 140px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        background-color: white;
        font-size: 16px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        padding: 2%;
        z-index: 3;
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        text-align: center;
        color: #044EB7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .TourBarOuter .TourBarInner .TourArea .SlideBar .Word {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content; }
        .TourBarOuter .TourBarInner .TourArea .SlideBar .EnWord {
          font-size: 8px; }

.LinkAreaOuter {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  top: 20%;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .LinkAreaOuter .LinkAreaInner {
    width: 60%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
    .LinkAreaOuter .LinkAreaInner .Link {
      width: 33%;
      height: auto;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      .LinkAreaOuter .LinkAreaInner .Link img {
        width: 100%;
        height: auto; }
      .LinkAreaOuter .LinkAreaInner .Link:hover {
        -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
        transform: translate(0px, -10%); }

.PageTitlePoaOne {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.PageTitlePoaTwo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.PageTitleStyle {
  width: 100%;
  height: 90%;
  color: #044EB7;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  -ms-grid-rows: 70% 30%;
  grid-template-rows: 70% 30%; }
  .PageTitleStyle .SideRect {
    width: 40%;
    height: 90%;
    background-color: #044EB7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    top: 12%; }
  .PageTitleStyle .ChTitle {
    font-size: 30px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2; }
  .PageTitleStyle .EnTitle {
    font-size: 20px;
    font-family: Merriweather Sans;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3; }

.nav-link {
  cursor: pointer; }
  .nav-link:hover {
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

.BarArea {
  border: solid 2px #044EB7;
  background-color: white;
  border-radius: 50px;
  z-index: 100;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  height: 50%;
  -ms-grid-row-align: end;
  align-self: end; }
  .BarArea .bar {
    width: 100%;
    height: 100%; }
  .BarArea .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .BarArea .navbar .nav-item {
      width: calc(100%/5);
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .BarArea .navbar .nav-item .nav-link {
        width: 60%;
        height: auto;
        font-size: 16px;
        text-align: center;
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        color: #044EB7; }
      .BarArea .navbar .nav-item .initial {
        color: white; }
  .BarArea .navbarOuter {
    position: absolute;
    top: 0px;
    left: 0px; }
    .BarArea .navbarOuter .activeBar {
      width: calc(100%/5);
      height: 100%;
      border-radius: 30px;
      background-color: #044EB7;
      -webkit-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s; }

.elementToFadeInAndOut {
  -webkit-animation: fade 1s linear;
  animation: fade 1s linear; }

.CloseButton {
  width: 50%;
  height: 100%;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
  justify-self: center; }
  .CloseButton .cross {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer; }
    .CloseButton .cross .line1, .CloseButton .cross .line2 {
      width: 80%;
      height: 10%;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    .CloseButton .cross .line1 {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2);
      transform: translateX(-50%) translateY(-50%) rotate(45deg) scaleX(1.2); }
    .CloseButton .cross .line2 {
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg) scaleX(1.2); }
    .CloseButton .cross:hover .line1 {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .CloseButton .cross:hover .line2 {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

#app {
  overflow: hidden; }

.bg {
  width: 100%;
  height: 100%; }

.PageTitleStyleTwo {
  width: 60%;
  height: auto;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .PageTitleStyleTwo .Title {
    -ms-grid-columns: 48% 4% 48%;
    grid-template-columns: 48% 4% 48%; }

.ButtonArea {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3 / 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 9;
  grid-row: 3 / 12;
  -ms-grid-column-align: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  z-index: 15;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: (31%)[3];
  grid-template-rows: repeat(3, 31%);
  grid-column-gap: 3%;
  grid-row-gap: 2%; }
  .ButtonArea .DepartmentButton {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
    background-image: url("../asset/img/Team/Curitorial_button_bg.png");
    background-size: cover; }
    .ButtonArea .DepartmentButton .doll {
      width: 25%; }
    .ButtonArea .DepartmentButton .Department {
      width: 65%; }
    .ButtonArea .DepartmentButton:hover .doll {
      -webkit-animation: swing  1s linear;
      animation: swing  1s linear;
      -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
      transform-origin: bottom center; }
    .ButtonArea .DepartmentButton:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; }
    .ButtonArea .DepartmentButton:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3; }
    .ButtonArea .DepartmentButton:nth-child(3) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; }
    .ButtonArea .DepartmentButton:nth-child(4) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3; }
    .ButtonArea .DepartmentButton:nth-child(5) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4; }
    .ButtonArea .DepartmentButton:nth-child(6) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4; }

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes swing {
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  80% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.Content {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
  grid-template-rows: repeat(12, 1fr);
  gap: 3%;
  z-index: 10; }
  .Content .Picture {
    width: auto;
    height: 90%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 10;
    grid-row: 2 / 12;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .Content .Picture .teamPic {
      width: auto;
      height: 100%; }
  .Content .DetailInfo {
    width: 100%;
    height: 100%;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
    -ms-grid-row: 3;
    -ms-grid-row-span: 8;
    grid-row: 3 / 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .Content .DetailInfo .Info:nth-child(1) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .Content .DetailInfo .Info:nth-child(2) {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .Content .DetailInfo .Info:nth-child(3) {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4; }
    .Content .DetailInfo .Info:nth-child(4) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .Content .DetailInfo .Info:nth-child(5) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.elementShow {
  z-index: 20; }

/*-------------------------*/
/*----------Team-----------*/
/*-------------------------*/
@media (max-width: 1200px) {
  .TourBarOuter {
    display: none; }
  .LinkAreaOuter {
    display: none; }
  .mmenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, black), color-stop(90%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -o-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 90%);
    background: linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -moz-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -webkit-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    background: -o-linear-gradient(360deg, black 30%, rgba(0, 0, 0, 0) 90%);
    left: -100%;
    z-index: 1000;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s; }
    .mmenu a {
      color: white;
      text-decoration: none; }
    .mmenu span {
      margin-left: 5px; }
    .mmenu .MenuBtn {
      position: fixed;
      top: 0;
      left: 0;
      margin-right: 90%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      margin-left: 2.5%; }
      .mmenu .MenuBtn > p {
        height: 5px;
        width: 40px;
        background-color: #FF0000;
        border-radius: 3px;
        margin: 10px; }
    .mmenu ul {
      display: block;
      list-style: none;
      color: white;
      padding-left: 0;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 2.5%;
      margin-top: 10vh;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .mmenu ul img {
        height: 8%;
        vertical-align: middle; }
      .mmenu ul li {
        padding-top: 2vh;
        padding-bottom: 2vh; }
    .mmenu .IndexBtn {
      display: block;
      position: fixed;
      top: 2.5%;
      left: 30vw;
      height: 8%; }
      .mmenu .IndexBtn img {
        height: 100%; }
  .Top {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .Bottom {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .Middle {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .activeTop {
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg); }
  .activeBottom {
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg); }
  .activeMiddle {
    opacity: 0; }
  .active + ul {
    opacity: 1; }
  .open {
    left: 0; } }

@-webkit-keyframes "Show" {
  0% {
    top: 30%;
    opacity: 0; }
  100% {
    top: 0%;
    opacity: 1; } }

@keyframes "Show" {
  0% {
    top: 30%;
    opacity: 0; }
  100% {
    top: 0%;
    opacity: 1; } }

@media (max-width: 1200px) {
  .videoWrap {
    display: none; }
  #app {
    overflow: hidden;
    background-color: black; }
  .PageTitleStyle {
    display: none; }
  .content {
    display: none; }
  .phoneContent {
    display: none;
    height: auto;
    width: 100vw;
    background-color: black;
    position: absolute;
    overflow: auto;
    z-index: 1100;
    opacity: 0; }
  .TestelementShow {
    display: block;
    -webkit-animation-name: Show;
    animation-name: Show;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal; }
  #app .elementShow {
    background-color: black;
    height: 100%; }
  #app .Content .Picture {
    height: auto; }
    #app .Content .Picture::before {
      display: none; }
  #app .Content .DetailInfo .Info {
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px; }
  #app .Content .DetailInfo .MurMur {
    margin-bottom: 0px; }
  #app .Content .MurMurTalk {
    text-align: right;
    color: white;
    font-size: 15px; }
  #app .ButtonArea .DepartmentButton {
    width: 90%;
    height: 20vw;
    margin-bottom: 5%;
    grid-column: none;
    grid-row: none; }
  .phoneContent .CloseButton {
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    margin: 2%; }
  .phoneContent .Picture .teamPic {
    width: 66%;
    margin-top: 10%;
    height: auto; }
  .phoneContent .DetailInfo > .Title {
    text-align: left; }
  .Content .DetailInfo {
    height: auto;
    margin-left: 18%;
    margin-right: 18%;
    width: 65%; }
    .Content .DetailInfo .Info:nth-child(1) {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
    .Content .DetailInfo .Info:nth-child(2) {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
    .Content .DetailInfo .Info:nth-child(3) {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
    .Content .DetailInfo .Info:nth-child(4) {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
  .ButtonArea {
    display: block;
    -ms-grid-row: 3;
    -ms-grid-row-span: 10;
    grid-row: 3 / 13;
    overflow: auto; }
    .ButtonArea .DepartmentButton .Department {
      width: 50%; } }

#app .bg {
  background-image: url("../asset/img/BG/BGCuratorialTeam.png");
  background-size: 100% 100%; }

#app .ButtonArea .DepartmentButton {
  border: solid 1px black;
  font-size: 30px;
  font-weight: 400;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3); }

#app .Content {
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  #app .Content .CloseButton .word {
    color: white;
    font-size: 20px; }
  #app .Content .Picture::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 100%;
    height: 100%;
    top: 3%;
    left: 3%; }
  #app .Content .DetailInfo {
    color: white; }
    #app .Content .DetailInfo .Info {
      font-size: 23px; }
      #app .Content .DetailInfo .Info:nth-child(1) {
        font-size: 40px; }

#app .elementShow {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

/*# sourceMappingURL=Team.css.map */