

.bg
    background-image: url('../asset/img/BG/BGExhibitionInformation_.png')

//Bar
.BarArea
    // grid-column: 6 / 12 default
    // grid-row: 3 / 4 default
    grid-column: 8 / 12
    .navbar
        .nav-item
            +size(calc(100%/3), 100%) //custom
    .navbarOuter
        .activeBar
            +size(calc(100%/3), 100%) //custom   


.BasicInfo
    grid-column: 8 / 12
    grid-row: 4 / 12
    // border: solid 2px black

    letter-spacing: 1.5px
    line-height: $InnerInnerFontSize*2
    font-size: $InnerInnerFontSize
    

    .BasicInfoInner
        +size(fit-content, fit-content)
        // border: solid 2px pink
        background-color: rgba(255, 255, 255, 0.8)
        padding: 5%
        .trafficDital
            font-size: $InnerInnerFontSize - 2px
            // color: rgba(0, 0, 0, 0.8)
            font-weight: 200
            letter-spacing: 0px
.Map
    // border: solid 2px black
    grid-column: 3 / 8
    grid-row: 4 / 12
    img
        +size(90%, auto)
        // padding: 30px
            

                