

.bg
    background-image: url('../asset/img/BG/BGExhibitionInformation_.png')


//Bar
.BarArea
    grid-column: 6 / 12
    grid-row: 4 / 5
    grid-column: 7 / 11
    .navbar
        .nav-item
            +size(calc(100%/2), 100%) //custom
    .navbarOuter
        .activeBar
            +size(calc(100%/2), 100%) //custom   

//Cover
.Cover
    grid-column: 4 / 12
    grid-row: 4 / 11
    background-color: $CustomWhite
    z-index: 1000
    opacity: 0


//BasicInfo
.BasicInfo
    grid-column: 3 / 7
    grid-row: 5 / 13
    // border: solid 2px black

    letter-spacing: 1.5px
    line-height: $InnerInnerFontSize*2
    font-size: $InnerInnerFontSize
    

    .BasicInfoInner
        +size(fit-content, fit-content)
        padding: 5%
        // border: solid 2px pink
        background-color: rgba(255, 255, 255, 0.9)

        .trafficDital
            font-size: $InnerInnerFontSize - 2px
            // color: rgba(0, 0, 0, 0.8)
            font-weight: 200
            letter-spacing: 0px

//Map
.Map
    grid-column: 7 / 11
    grid-row: 5 / 11
    iframe
        +size(100%, 100%)

            

                