
.bg
    background-color: $CustomBlue



.monsterB
    grid-column: 6 / 12
    grid-row: 2 / 5
    // border: solid 1px black

.title
    grid-column: 6 / 12
    grid-row: 5 / 7
    // border: solid 1px black

.monsterA
    grid-column: 6 / 12
    grid-row: 7 / 9
    // border: solid 1px black

.monsterBig
    grid-column: 3 / 6
    grid-row: 2 / 10
    // +size(100%, auto)
    border: solid 2px black


.ExhibitionInfo
    +size(100%, 100%)
    grid-column: 3 / 13
    grid-row: 10 / 12
    justify-self: center
    max-width: 1200px

    // +border(dotted, 2px, pink)

    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 50% 50%
    
    color: $CustomWhite
    font-size: $InnerFontSize

    .Info
        // border: solid 2px purple
        +size(90%, 100%)
        display: flex
        .Topic
            flex: 3
            +border(solid, 1px, $CustomWhite)
            border-radius: 20px
            +size(fit-content, fit-content)
            text-align: center
        .Space
            flex: 1
        .Time
            flex: 4
        .Location
            flex: 5

    .Campus
        grid-column: 1 / 2
        grid-row: 1 / 2

    .OffCampus
        grid-column: 2 / 3
        grid-row: 1 / 2
    
    .FilmFestival
        grid-column: 1 / 2
        grid-row: 2 / 3

    .VisionAward
        grid-column: 2 / 3
        grid-row: 2 / 3
