
.bg
    background-color: $CustomBlue

.Title
    grid-column: 5 / 12
    grid-row: 6 / 10
    +size(100%, 100%)

    .MainTitle
        +size(auto, 80%)
        // +border(dotted, 2px, green)
        img
            +size(100%, 100%)
    .Subtitle
        // +border(dotted, 2px, green)
        +size(auto, 20%)
        color: $CustomWhite
        font-size: $InnerFontSize
        left: 5%

.ExhibitionInfo
    +size(100%, 100%)
    grid-column: 3 / 13
    grid-row: 10 / 12
    // +border(dotted, 2px, pink)
    // align-self: end

    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 50% 50%
    
    color: $CustomWhite
    font-size: $InnerFontSize

    .Info
        // border: solid 2px purple
        display: grid
        grid-template-columns: 22% 25% 53%
        +size(100%, 100%)

        .Topic
            +size(83%, 60%)
            .text
                border: solid 1px $CustomWhite
                border-radius: 20px
                padding: 2px 12px
    .Campus
        grid-column: 1 / 2
        grid-row: 1 / 2

    .OffCampus
        grid-column: 2 / 3
        grid-row: 1 / 2
    
    .FilmFestival
        grid-column: 1 / 2
        grid-row: 2 / 3

    .VisionAward
        grid-column: 2 / 3
        grid-row: 2 / 3
