
.bg
    background-image: url('../asset/img/BG/BGPartner.png')

.PageTitleStyleTwo
    +size(40%, auto)
    justify-self: start
    align-self: center
    .Title
        grid-template-columns: 58% 4% 38%  //Custom


.construction
    grid-column: 3 / 12
    grid-row: 3 / 10
    // +flexdisplay()
    .word
        font-size: $TitleFontSize*2
        color: $CustomBlue
        +size(fit-content, fit-content)
        // border: solid 1px black
        margin: auto



// .container
//     grid-column: 3 / 12
//     grid-row: 3 / 13
//     +size(100%, 100%)
//     // max-width: 1100px
//     justify-self: center

//     border: solid 2px $CustomBlue
//     border-radius: 1%
//     box-shadow: 2px -2px 8px 2px rgba(0,0,0,0.6)
//     background-color: $CustomWhite

//     overflow: scroll

//     &::-webkit-scrollbar 
//         width: 0px

//     .Sponsors
//         // border: solid 1px blue
//         width: calc(100%/2)

//         display: inline-block
//         position: relative
    

//         &::after           
//             content: ""
//             display: block
//             padding-bottom: 100% 

//         .SponsorImg
//             position: absolute
//             // border: solid 2px green
//             +size(80%, 80%)

//             left: 50%
//             top: 50%
//             transform: translate(-50%, -50%)

            




