.bg
    background-image: url('../asset/img/BG/BGCuratorialTeam.png')
    background-size: 100% 100%
    +size(100%, 100%)
    position: absolute

.PageTitleStyleTwo
    +size(35%, 10%) //Custom
    position: absolute //Custom
    top: 10% //Custom
    left: 35% //Custom

    .Title
        grid-template-columns: 48% 4% 48%  //Custom