

.bg
    +size(100%, 100%)

//PageTitleStyleTwo
.PageTitleStyleTwo
    +size(60%, auto)
    justify-self: center
    align-self: center
    .Title
        grid-template-columns: 48% 4% 48%  //Custom

.ButtonArea
    grid-column: 2 / 4
    grid-row: 2 / 3
    +size(100%, 100%)

    z-index: 15

    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: repeat(3, 31%)
    grid-column-gap: 1%
    grid-row-gap: 2%

    .DepartmentButton
        +size(100%, 100%)
        +flexdisplay()
        border-radius: 25px
        background-image: url('../asset/img/Team/Curitorial_button_bg.png')
        background-size: cover
        color: $CustomWhite
        &:nth-child(1)
            grid-column: 1 / 2
            grid-row: 1 / 2

        &:nth-child(2)
            grid-column: 2 / 3
            grid-row: 1 / 2
        &:nth-child(3)
            grid-column: 1 / 2
            grid-row: 2 / 3    
        &:nth-child(4)
            grid-column: 2 / 3  
            grid-row: 2 / 3                                                                                     
        &:nth-child(5)
            grid-column: 1 / 2
            grid-row: 3 / 4
        &:nth-child(6)
            grid-column: 2 / 3  
            grid-row: 3 / 4

.Content            
    grid-column: 1 / 5
    grid-row: 1 / 4
    +size(100%, 100%)

    display: grid
    grid-template-columns: 45% 45% 5% 
    grid-template-rows: 15% 75% 10% 

    // border: solid 2px pink  
    z-index: 10

    .CloseButton
        +size(100%, 100%)
        grid-column: 3 / 4
        grid-row: 1 / 2
        // border: solid 1px pink
        +flexdisplay(flex, column)
        .CloseImg
            +size(70%, auto)
    .Picture
        +size(100%, 100%)
        grid-column: 1 / 2
        grid-row: 2 / 3
        // border: solid 1px pink
        +flexdisplay()
        .teamPic
            +size(auto, 90%)

    .DetailInfo
        +size(100%, 90%)
        grid-column: 2 / 3
        grid-row: 2 / 3
        align-self: center 

        display: grid
        grid-template-rows: 15% 15% 15% 35% 10% 10% 

        .Info
            &:nth-child(1)
                grid-row: 1 / 2
            &:nth-child(2)
                grid-row: 2 / 3
            &:nth-child(3)
                grid-row: 3 / 4
            &:nth-child(4)
                grid-row: 5 / 6
            &:nth-child(5)
                grid-row: 6 / 7

.elementShow
    z-index: 20